<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <p class="lead text-white" *ngIf="authService.isLoggedIn()">{{authService.username}}</p>
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a mat-button class="nav-link" [matMenuTriggerFor]="userMenu">
            <i class="fas fa-id-badge" style="font-size: 24px;"></i>
            <p>
              <span class="d-lg-none d-md-block">Account</span>
            </p>
          </a>
          <mat-menu #userMenu>
            <button mat-menu-item *ngIf="!authService.isLoggedIn()" routerLink="/auth/login">Login</button>
            <button mat-menu-item *ngIf="authService.isLoggedIn()">Account</button>
            <button mat-menu-item *ngIf="authService.isLoggedIn()">Settings</button>
            <button mat-menu-item *ngIf="authService.isLoggedIn()"
                    (click)="authService.userLogout()">Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>
